[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,[{serve_endpoints,true}]},
 {exrm_test,
     [{ecto_repos,['Elixir.ExrmTest.Repo']},
      {'Elixir.ExrmTest.Endpoint',
          [{render_errors,
               [{view,'Elixir.ExrmTest.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.ExrmTest.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,8888}]},
           {url,[{host,<<"exrm-test.com">>}]},
           {root,<<".">>},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {secret_key_base,
               <<"0JSVOINhirEjO0Ag6vpPu+DFAPuLsZ2fWxkwOfb3inNxHMvbmGjdkhH3EfRlQsiO">>}]},
      {'Elixir.ExrmTest.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"exrm_test_prod">>},
           {pool_size,20}]}]}].
