<h3><label class="label label-success">Exrm Test</label></h3>
<div id="message-list"></div>
<div>
    <div>
        <input id="user-input" placeholder="user" style="position: absolute; bottom: 10px;">
    </div>

    <div>
        <input id="message-input" placeholder="message here!" class="absolute">
    </div>
</div>
